=render 'shared/errors', object: diary

=form_with model: diary, local: true do |f|
  .row.mb-3
    .col-sm-2.col-form-label
      =f.label :description
    .col-sm-10.col-form-label
      =f.text_area :description, class: 'form-control'

  =f.submit 'Submit', class: 'btn btn-outline-primary btn-md mb-4'